@import "./imports/reset.css", "./imports/_mixins.scss";

.header {
  width: 100%;
  background: slateblue;
  padding: 1.5em 5%;
  @include flex(row, nowrap, space-between, center);
  &__h1 {
    background-color: red;
    max-width: 300px;

    @include mv(960px){
      max-width: 400px;
    }
  }
  &__img {}
  &__nav {
    background: springgreen;
    width: calc(100% - 400px);
  }
  &__ul {
    @include flex(row, nowrap, flex-end, center);
  }
  &__li {
    background: orange;
    margin: 0 0 0 1em;
  }
  &__a {}
  &__login {
    padding: .5em 1em;
    border-radius: .4em;
    background: blue;
  }
  &__select {}
}
.select {
  background: orchid;
  height: 2em;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: .3em;
  position: relative;
  &::after{
    content: "▼";
    height: 100%;
    position: absolute;
    top: .05em;
    right: .5em;
    @include flex(row, nowrap, center, center);
    color: inherit;
  }
  &::before{
    content: "◆";
    height: 100%;
    position: absolute;
    top: .05em;
    left: .5em;
    @include flex(row, nowrap, center, center);
    color: inherit;
  }
  &__span{
    height: 1.9em;
    @include flex(row, nowrap, center, center);
    padding: .5em 1.8em .5em 1em;
  }
  &__ul {}
  &__li {}
  &__a {
    padding: .5em 1em;
  }
}
.landing {
  width: 100%;
  min-height: 80vh;
  background: gray;
  @include flex(column, nowrap, center, center);
  &__h2 {
    margin: 0 0 1em;
  }
  &__h3 {
    margin: 0 0 1em;
  }
  &__p {
    margin: 0 0 1em;
  }
  &__form {
    background-color: springgreen;
  }
  &__input {
    background-color: beige;
    padding: 0.7em 1.4em;
  }
  &__submit {
    background-color: purple;
    padding: 0.7em 1.4em;
  }
}
.specs {
  background-color: slateblue;
  @include flex(row, nowrap, center, center);
  padding: 10vh 0;
  margin: 1em 0;

  &.inverso .specs__center{
    flex-direction: row-reverse;
  }
  &__center{
    background-color: orange;
    width: 90%;
    max-width: 1200px;
    @include flex(row, nowrap, space-between, center);
  }
  &__col {
    width: calc(100%/2 - 2em);
    background-color: darkcyan;
  }
  &__h4 {
    margin: 0 0 1em;
  }
  &__p {}
  &__video {
    background-color: red;
  }
}
.faq {
  background: orchid;
  @include flex(row, nowrap, center, center);

  &__center{
    width: 90%;
    background: rebeccapurple;
    max-width:800px;
  }
  &__h3{
    background-color: aqua;
    margin: 0 0 1em;
  }
  &__ul {
    background-color: brown;
  }
  &__li {
    height: 3em;
    overflow: hidden;
    background-color: indigo;
    margin: 1em 0;
    transition:all .5s ease-in-out;
    &.activo{
      height: 19em;
    }
    &.activo .faq__svg{
      transform: rotate(0deg);
    }
  }
  &__button {
    width: 100%;
    min-height: 3em;
    background-color: darkcyan;
    padding: 0 2em;
    @include flex(row, nowrap, space-between, center);
    cursor: pointer;
  }
  &__span{
    background-color: green;
    
  }
  &__svg{
    background-color: red;
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
    transition:all .5s ease;
  }
  &__info {
    padding: 2em;
    background-color: tomato;
  }
  &__p {
    background-color: palevioletred;
    margin: 0 0 1em;
  }
}
.register {
  background: slategray;
  padding: 2em 0;
  @include flex(column, nowrap, center, center);
  &__p{
    max-width: 600px;
    background: yellow;
    margin: 0 0 1em;
  }
  &__form {
    background: blue;
  }
  &__input {
    padding: .05em 1em;
    background: white;
  }
  &__submit {
    padding: .5em 1em;
    background: red;
  }
}
.footer {
  background: darkcyan;
  padding: 10vh 0;
  @include flex(row, nowrap, center, center);
  &__center{
    background: orange;
    width: 90%;
    max-width: 600px;
  }
  &__fila {
    background: greenyellow;
    @include flex(row, nowrap, space-between, flex-start);
  }
  &__p {
    background: rebeccapurple;
    margin: 0 0 2em;
  }
  &__ul {
    background: darkgreen;
    margin: 0 0 2em;
  }
  &__li {

    width: calc(100%/4 - 2em);
    background:gold;
  }
  &__select{
    max-width: 150px;
    margin: 0 0 1em;
  }
  &__a {}
}
.main {}


