@charset "UTF-8";
/* Mixin flex */
/*Mixin Responsive */
@import 'imports/reset.css';
:root {
  --rojo:#e50914;
  --blanco:#fff;
  --negro:#000;
  --gris: #303030;
  --gris-footer:#737373;
}

.header {
  width: 100%;
  padding: 1.5em 5%;
  color: white;
  position: absolute;
  top: 0;
  z-index: 3;
  background: linear-gradient(180deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
}
.header__h1 {
  width: 100%;
}
.header__img {
  width: 100%;
  max-width: 8.6em;
  padding: 0.3em 0 0 0.2em;
  fill: var(--rojo);
}
.header__nav {
  width: calc(100% - 400px);
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__ul {
    flex-direction: column;
  }
}
.header__li {
  margin: 0 0 0 2em;
}
.header__login {
  padding: 0.5em 1em;
  border-radius: 0.2em;
  background: var(--rojo);
  font-size: 1em;
  margin: 0.2em 0 0 0;
}
.select {
  height: 2.5em;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
  font-size: 0.9em;
  margin: 0 0.2em 0 0;
}
.select::after {
  content: "▼";
  height: 100%;
  position: absolute;
  top: 0.05em;
  right: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .select::after {
    flex-direction: column;
  }
}
.select::before {
  content: "◆";
  height: 100%;
  position: absolute;
  top: 0em;
  left: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .select::before {
    flex-direction: column;
  }
}
.select__span {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.8em 0.5em 1em;
}
@media screen and (max-width: 480px) {
  .select__span {
    flex-direction: column;
  }
}
.select__a {
  padding: 0.5em 1em;
}

.landing {
  width: 100%;
  min-height: 68vh;
  background: url(../assets/home.jpg) no-repeat center center/cover;
  color: var(--blanco);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 6vh 0 0;
}
@media screen and (max-width: 480px) {
  .landing {
    flex-direction: column;
  }
}
.landing::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
}
.landing__h2 {
  max-width: 14em;
  margin: 0 0 0.3em;
  font-size: 3em;
  font-weight: 600;
  position: relative;
  z-index: 2;
}
.landing__h3 {
  margin: 0 0 1.2em;
  font-size: 1.5em;
  position: relative;
  z-index: 2;
}
.landing__p {
  max-width: 45em;
  margin: 0 0 1em;
  font-size: 1.2em;
  position: relative;
  z-index: 2;
}
.landing__form {
  width: 100%;
  max-width: 41em;
  background-color: springgreen;
  position: relative;
  z-index: 2;
}
.landing__input {
  background-color: beige;
  padding: 0.7em 1.4em;
  font-size: 1.3em;
  width: 70%;
  color: var(--negro);
}
.landing__submit {
  background-color: var(--rojo);
  padding: 0.7em 1.4em;
  font-size: 1.5em;
  position: relative;
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .landing__submit {
    flex-direction: column;
  }
}

.specs {
  background-color: var(--negro);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 9.5vh 0;
  margin: 0.4em 0;
  color: var(--blanco);
}
@media screen and (max-width: 480px) {
  .specs {
    flex-direction: column;
  }
}
.specs.inverso .specs__center {
  flex-direction: row-reverse;
}
.specs__center {
  width: 92%;
  max-width: 68.7em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .specs__center {
    flex-direction: column;
  }
}
.specs__col {
  width: calc(50% - 1em);
}
.specs__h4 {
  margin: 0 0 0.5em;
  font-size: 3em;
  font-weight: 600;
}
.specs__p {
  font-size: 1.5em;
  line-height: 1.5;
}
.faq {
  background: var(--negro);
  color: var(--blanco);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .faq {
    flex-direction: column;
  }
}
.faq__center {
  width: 70%;
  max-width: 50em;
}
.faq__h3 {
  margin: 1.5em 0 1em;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}
.faq__li {
  height: 4.7em;
  overflow: hidden;
  background-color: var(--gris);
  margin: 0.6em 0;
  transition: all 0.5s ease-in-out;
}
.faq__li.activo {
  height: 33em;
}
.faq__li.activo .faq__svg {
  transform: rotate(0deg);
}
.faq__button {
  width: 100%;
  min-height: 4.7em;
  padding: 0 2em;
  border-bottom: 2px solid var(--negro);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .faq__button {
    flex-direction: column;
  }
}
.faq__span {
  font-size: 1.5em;
}
.faq__svg {
  width: 2em;
  height: 2em;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.faq__info {
  padding: 2em;
}
.faq__p {
  margin: 0 0 1em;
  font-size: 1.5em;
  line-height: 1.5;
}

.register {
  background: var(--negro);
  padding: 4em 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .register {
    flex-direction: column;
  }
}
.register__p {
  max-width: 950px;
  margin: 0 0 1em;
  font-size: 1.25em;
}
.register__form {
  width: 100%;
  max-width: 40em;
  background-color: springgreen;
}
.register__input {
  color: var(--negro);
  padding: 0.7em 1.4em;
  background: var(--blanco);
  width: 70%;
  font-size: 1.4em;
}
.register__submit {
  padding: 0.7em 1.4em;
  background: var(--rojo);
  width: 30%;
  font-size: 1.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .register__submit {
    flex-direction: column;
  }
}

.footer {
  background: var(--negro);
  padding: 7vh 0 3vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 0;
  color: var(--gris-footer);
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
.footer__center {
  width: 90%;
  max-width: 55em;
}
.footer__fila {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .footer__fila {
    flex-direction: column;
  }
}
.footer__p {
  margin: 0 0 2em;
  font-size: 1.1em;
}
.footer__ul {
  margin: 0 0 2em;
  font-size: 0.8em;
}
.footer__li {
  margin: 0 0 1em;
}
.footer__select {
  max-width: 145px;
  margin: 0 0 1.2em;
  padding: 0.5em 1em;
  font-size: 1em;
  height: 2.5em;
  border: 1px solid var(--gris-footer);
}
.footer .brand {
  font-size: 0.8em;
}/*# sourceMappingURL=app.css.map */