@charset "UTF-8";
@import "./imports/reset.css"; /* Mixin flex */
/*Mixin Responsive */
.header {
  width: 100%;
  background: slateblue;
  padding: 1.5em 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }
}
.header__h1 {
  background-color: red;
  max-width: 300px;
}
@media screen and (max-width: 960px) {
  .header__h1 {
    max-width: 400px;
  }
}
.header__nav {
  background: springgreen;
  width: calc(100% - 400px);
}
.header__ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header__ul {
    flex-direction: column;
  }
}
.header__li {
  background: orange;
  margin: 0 0 0 1em;
}
.header__login {
  padding: 0.5em 1em;
  border-radius: 0.4em;
  background: blue;
}
.select {
  background: orchid;
  height: 2em;
  overflow: hidden;
  border: 1px solid #fff;
  border-radius: 0.3em;
  position: relative;
}
.select::after {
  content: "▼";
  height: 100%;
  position: absolute;
  top: 0.05em;
  right: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .select::after {
    flex-direction: column;
  }
}
.select::before {
  content: "◆";
  height: 100%;
  position: absolute;
  top: 0.05em;
  left: 0.5em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: inherit;
}
@media screen and (max-width: 480px) {
  .select::before {
    flex-direction: column;
  }
}
.select__span {
  height: 1.9em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.8em 0.5em 1em;
}
@media screen and (max-width: 480px) {
  .select__span {
    flex-direction: column;
  }
}
.select__a {
  padding: 0.5em 1em;
}

.landing {
  width: 100%;
  min-height: 80vh;
  background: gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .landing {
    flex-direction: column;
  }
}
.landing__h2 {
  margin: 0 0 1em;
}
.landing__h3 {
  margin: 0 0 1em;
}
.landing__p {
  margin: 0 0 1em;
}
.landing__form {
  background-color: springgreen;
}
.landing__input {
  background-color: beige;
  padding: 0.7em 1.4em;
}
.landing__submit {
  background-color: purple;
  padding: 0.7em 1.4em;
}

.specs {
  background-color: slateblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
  margin: 1em 0;
}
@media screen and (max-width: 480px) {
  .specs {
    flex-direction: column;
  }
}
.specs.inverso .specs__center {
  flex-direction: row-reverse;
}
.specs__center {
  background-color: orange;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .specs__center {
    flex-direction: column;
  }
}
.specs__col {
  width: calc(50% - 2em);
  background-color: darkcyan;
}
.specs__h4 {
  margin: 0 0 1em;
}
.specs__video {
  background-color: red;
}

.faq {
  background: orchid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .faq {
    flex-direction: column;
  }
}
.faq__center {
  width: 90%;
  background: rebeccapurple;
  max-width: 800px;
}
.faq__h3 {
  background-color: aqua;
  margin: 0 0 1em;
}
.faq__ul {
  background-color: brown;
}
.faq__li {
  height: 3em;
  overflow: hidden;
  background-color: indigo;
  margin: 1em 0;
  transition: all 0.5s ease-in-out;
}
.faq__li.activo {
  height: 19em;
}
.faq__li.activo .faq__svg {
  transform: rotate(0deg);
}
.faq__button {
  width: 100%;
  min-height: 3em;
  background-color: darkcyan;
  padding: 0 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .faq__button {
    flex-direction: column;
  }
}
.faq__span {
  background-color: green;
}
.faq__svg {
  background-color: red;
  width: 2em;
  height: 2em;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}
.faq__info {
  padding: 2em;
  background-color: tomato;
}
.faq__p {
  background-color: palevioletred;
  margin: 0 0 1em;
}

.register {
  background: slategray;
  padding: 2em 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .register {
    flex-direction: column;
  }
}
.register__p {
  max-width: 600px;
  background: yellow;
  margin: 0 0 1em;
}
.register__form {
  background: blue;
}
.register__input {
  padding: 0.05em 1em;
  background: white;
}
.register__submit {
  padding: 0.5em 1em;
  background: red;
}

.footer {
  background: darkcyan;
  padding: 10vh 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}
.footer__center {
  background: orange;
  width: 90%;
  max-width: 600px;
}
.footer__fila {
  background: greenyellow;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 480px) {
  .footer__fila {
    flex-direction: column;
  }
}
.footer__p {
  background: rebeccapurple;
  margin: 0 0 2em;
}
.footer__ul {
  background: darkgreen;
  margin: 0 0 2em;
}
.footer__li {
  width: calc(25% - 2em);
  background: gold;
}
.footer__select {
  max-width: 150px;
  margin: 0 0 1em;
}/*# sourceMappingURL=app.css.map */